<appSettings>
		<add key="urlForEmail" value="https://www.i.ua/"/>
    <add key="urlForTranslation" value="https://translate.google.com/#view=home&amp;op=translate&amp;sl="/>
    <add key="partOfTranslationUrl" value="&amp;tl="/>
    <add key="login" value="Vasillsa@email.ua"/>
    <add key="password" value="qwerty123!"/>
    <add key="browser" value="Chrome"/>
</appSettings>


